@using Shared;
@inject HttpClient Http;

<div class="expandedlayout">
        <div class="MainBox m-4 box-layout col-7 col-md-6 p-2">
            <h2>@project.Name</h2>
            @if (project.CreatedBy != null)
            {
                <h5>@project.CreatedBy</h5>
            }
            else
            {
                <h5>No Author</h5>
            }
            <br>
            <div class="descriptionBox">@project.Description</div>
        </div>

        <div class="Small-Container d-flex justify-space-between col-7 col-md-auto">
            <div class="Smallbox my-4 box-layout p-2">
                <p><b>Supervisors:</b></p>
                @if (Supervisors != null)
                {
                    foreach (var sv in Supervisors) {
                        <p>@sv.Name : @sv.Email</p>
                    }   
                } else {
                    <p>No supervisors yet</p>
                }
                <p><b>Students:</b></p>
                @if (Students != null)
                {
                    foreach (var stu in Students) {
                        <p>@stu.Name : @stu.Email</p>
                    }   
                } else {
                    <p>No Students yet</p>
                }
            </div>
            <div class="Smallbox my-4 box-layout p-2">
                @foreach (var tag in project.Tags)
                {
                    <PassiveTag TagName="@tag"></PassiveTag>
                }
            </div>
            <div class="inviscontainer">
                <div class="btn-highlighted p-2 w-25">
                    <strong>Apply</strong>
                </div>
                <div class="btn-highlighted p-2 w-25">
                    <strong>Message</strong>
                </div>
            </div>
        </div>
</div>

@code {

    [Parameter] public ProjectDTO project { get; set; }

    [Parameter] public List<StudentDTO>? Students { get; set; }
    [Parameter] public List<SupervisorDTO>? Supervisors { get; set;}

    protected override async Task OnInitializedAsync() {
        Students = await Http.GetFromJsonAsync<List<StudentDTO>>("api/Users/students/"+project.Id);
        Supervisors = await Http.GetFromJsonAsync<List<SupervisorDTO>>("api/Users/supervisors/"+project.Id);
    }
}