using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyApp.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="project-feed">
    @if (_projects != null)
    {
        @foreach (var item in _projects)
        {
            <ProjectBox id="@item.Id" name="@item.Name" description="@item.Description" tags="@item.Tags"
        CreatedBy="@item.CreatedByEmail"></ProjectBox>
        }
        // Testing componets:
        // ...
    }
    else
    {
        <LoadingScreen></LoadingScreen>
    }
</div>

@code {
    private ProjectDTO[]? _projects;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    public async Task setProjectsFromTag(string tag)
    {
        try
        {
            _projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects/tags/" + tag);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    public async Task setProjectsFromSearchString(string searchString)
    {
        try
        {
            _projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects/name/" + searchString);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    public void Refresh()
    {
        this.StateHasChanged();
    }


}