@page "/project/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyApp.Shared
@attribute [Authorize]
@inject HttpClient Http

@if (project != null)
{
    <div>
        <ExpProjectBox id="@project.Id" name="@project.Name" description="@project.Description" tags="@project.Tags" CreatedBy="@project.CreatedBy"></ExpProjectBox>
    </div>
}
else
{
    <p>loading...</p>
}


@code {
    [Parameter] public int id { get; set; }

    private ProjectDTO? project;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ProjectDTO[]? projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects"); ///tags/tag1#tag2#tag3/searchstring/....

            if (projects != null)
            {
                SetCurrentProject(projects);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void SetCurrentProject(ProjectDTO[] projects)
    {
        project = projects.Where(pr => pr.Id == id).First();
    }
}